
<h1>Welcome to Eat-Da-Burger!</h1>
<div>
  <ul>
    {{#each burgers}}
      <li>
          <p>Burger Name: {{this.burger_name}}</p>
          <p>Devoured: {{this.devoured}}</p>
      </li>
    {{/each}}
  </ul>
</div>
